/* >>>>>>>>>>>IMAGE ENHANCER CODE <<<<<<<<<<<<<<<<<<<<<<< */
.editor {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

.toolbar {
    width: 250px;
    background: #eeeeee;
}

.toolbar-item {
    padding: 15px;
}

.tool-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.tool-input {
    width: 100%;
}

.image-area {
    flex-grow: 1;
    padding: 20px;
    background: #555555;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
}

/* ==================REPORT CARD GENERATOR CSS================ */

.form-container {
    border: 2px solid black;
    margin: 20px;
    align-items: center;
    height: 800px;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
}

.lbl {
    font-size: 30px;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.in {
    width: 1500px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    border-color: rgb(65, 46, 107);
    color: rgb(12, 12, 12);
    font-weight: bold;
    margin-top: 20px;
}
.submit {
    padding: 10px;
    background-color: rgb(0, 179, 255);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border-color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 25px;
}
.submit:hover {
    padding: 10px;
    background-color: rgb(255, 149, 0);
    font-size: 22px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 25px;
}
#main-heading {
    text-align: center;
}
/*.main{
    transform: translate(410px);
}*/

.show-container {
    border: 12px solid rgb(255, 255, 255);
    height: 780px;
    width: 1000px;
    align-items: center;
    background-color: rgb(234, 248, 125);
    padding: 15px;

    margin-left: 10px;
    margin-right: 10px;
}
#table {
    padding: 30px;
    font-size: 30px;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 10px;
    width: 900px;
}
td,
th {
    text-align: center;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
.student-class {
    font-size: 20px;
}
.sign {
    margin-top: 30px;
    font-size: 20px;
}
.pergrade {
    font-size: 20px;
    margin-top: 10px;
}
#grade-lbl {
    text-align: right;
    margin-left: 550px;
}
#grade {
    text-align: right;
    margin-left: 10px;
}
.edit {
    display: grid;
    grid-template-columns: 70% 30%;
}
.main {
    background-color: aquamarine;
}
#red {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#red:hover {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#green {
    width: 40px;
    height: 40px;
    background-color: green;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#green:hover {
    width: 40px;
    height: 40px;
    background-color: green;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#light-green {
    width: 40px;
    height: 40px;
    background-color: lightgreen;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#light-green:hover {
    width: 40px;
    height: 40px;
    background-color: lightgreen;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#blue {
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#blue:hover {
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#skyblue {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#skyblue:hover {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#yellow {
    width: 40px;
    height: 40px;
    background-color: yellow;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#yellow:hover {
    width: 40px;
    height: 40px;
    background-color: yellow;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#orange {
    width: 40px;
    height: 40px;
    background-color: orange;
    color: white;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 40px;
}
#orange:hover {
    width: 40px;
    height: 40px;
    background-color: orange;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#gray {
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 40px;
}
#gray:hover {
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#black {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#black:hover {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 40px;
}
#white {
    width: 40px;
    height: 40px;
    background-color: white;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#white:hover {
    width: 40px;
    height: 40px;
    background-color: white;

    border: 2px solid rgb(255, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#gred {
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, yellow, white, yellow);

    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 40px;
}
#gred:hover {
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, yellow, white, yellow);

    border: 2px solid rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 40px;
}
#main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}
.editing1 div {
    margin: 20px;
}
.editing1 {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.9);
}

/* ================================================================================================================= */
/* ================================================================================================================ */
/* ID CARD GENERATOR STYLE */
body {
    margin: 0;
    padding: 0;
    background: #f2f3f4;
}

.main-editing-container .navbar {
    box-shadow: 4px 4px 4px black;
    background: linear-gradient(to right, #273746, #2c3e50, #2c3e50, #273746);
    height: 90px;
}

.tool-container {
    background: #2e4053;
    position: absolute;
    box-shadow: inset -2px -2px 1px rgb(255, 255, 255);
    z-index: 1;
    width: 20vh;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
    flex-direction: column;
    overflow: auto;
}

.tool-item-container {
    width: 170vh;

    box-shadow: 5px 5px 10px rgb(15, 14, 14);
    position: absolute;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.tools {
    display: flex;
    flex-direction: row;
    width: 90%;
    font-size: 1.5rem;
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 1px 3px rgb(0, 255, 251);
}
.tools:hover {
    background: black;
    color: rgb(0, 191, 255);
    border-radius: 6px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 3px rgb(0, 191, 255), -2px -2px 4px rgb(0, 191, 255);
}
/* TOOLS CONTENT STYLING START  */
.BI {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}
.BI #bold,
#italic,
#underline,
#strikethrough {
    margin-top: 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 102, 0);
    border: 2px solid white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#bold:hover,
#italic:hover,
#underline:hover,
#strikethrough:hover {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}
.TA {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}
.TA #alignLeft,
#alignRight,
#alignCenter,
#alignJustify {
    margin-top: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 102, 0);
    border: 2px solid white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#alignLeft:hover,
#alignRight:hover,
#alignCenter:hover,
#alignJustify :hover {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}
.elementLight {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}

#fontSize,
#fontFamily {
    margin-top: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 102, 0);
    border: 2px solid white;
    width: 100%;

    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
#fontSize:hover,
#fontFamily:hover {
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 238);

    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
}
.textColorDiv {
    margin-top: 10px;
}
.fontColor p,
.fongBgColor p,
.strokeWidth p,
.strokeColor p,
.textShadowDiv p,
.fongBgnone p {
    color: rgb(255, 102, 0);
    font-size: 1.1rem;
    cursor: pointer;
}
#fontbgnone:hover {
    color: #7300ff;
}
.textColorDiv input[type='color'] {
    padding: 10;
    box-shadow: 4px 4px 2px rgb(255, 102, 0);
    cursor: pointer;
    margin-left: 20px;
}
.textColorDiv input[type='color']:hover {
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}
.textStrokeDiv {
    margin-top: 10px;
}
.textStrokeDiv button {
    color: orange;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid orange;
    box-shadow: 2px 2px 2px white;
    font-weight: bold;
    font-size: 1.2rem;
}
.textStrokeDiv button:hover {
    color: #00ffff;
    scale: 1.1;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}
.textStrokeDiv input {
    margin-left: 12px;
    cursor: pointer;
}
.textShadowDiv {
    margin-top: 10px;
}
.textShadowDiv button {
    color: orange;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid orange;
    box-shadow: 2px 2px 2px white;
    font-weight: bold;
    font-size: 1.2rem;
}
.textShadowDiv button:hover {
    color: #00ffff;
    scale: 1.1;
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgb(0, 255, 251), -2px -2px 10px rgb(0, 242, 255);
    transition: 0.2s ease-in-out;
}
.textShadowDiv input {
    margin-left: 12px;
    cursor: pointer;
}

/* =====================END TOOLS STYLING============== */

.add-image i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

/* .format-text p {
    font-size: 2rem;
    color: white;
}
.format-text:hover {
    background: rgb(0, 0, 0);
    color: black;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
} */

.add-text i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.font-color i:hover {
    background: linear-gradient(red, blue, orange, green);
    color: rgb(255, 255, 255);
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.font-bg i:hover {
    background: linear-gradient(
        red,
        rgb(246, 255, 0),
        orange,
        rgb(55, 216, 55)
    );
    color: rgb(73, 5, 5);
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.font-size i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.font-family i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.f-align-right i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.f-align-center i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.f-align-left i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.f-align-justify i:hover {
    background: white;
    color: brown;
    border-radius: 360px;
    padding: 10px;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.idLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #566573, -2px -2px 5px #566573;
}

.templates {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 70px;
    box-shadow: inset 2px 2px 2px white;
}

.templates:hover {
    box-shadow: inset -2px -2px 2px white, inset 50px 50px 1px #17202a;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;
    color: #a9cce3;
    border-top-left-radius: none;
    border-bottom-right-radius: 10px;
}

.page-size {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 70px;
    box-shadow: inset 2px 2px 2px white;
}

.page-size:hover {
    box-shadow: inset -50px -50px 1px #34495e;
    color: #00ffff;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
}

.image-size,
.customImage,
.shapes,
.Canvasborder {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 70px;
    box-shadow: inset 2px 2px 2px white;
}

.image-size:hover {
    box-shadow: inset -50px -50px 1px #34495e;
    color: #00ffff;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
}

.customImage:hover {
    box-shadow: inset -50px -50px 1px #34495e;
    color: #00ffff;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
}

.shapes:hover {
    box-shadow: inset -50px -50px 1px #34495e;
    color: #00ffff;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
}

.bgColor {
    background-color: #3498db;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 70px;
}

.bgColor:hover {
    box-shadow: inset -2px -2px 2px white, inset 50px 50px 1px #17202a;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;
    color: #00ffff;
    border-top-left-radius: none;
    border-bottom-right-radius: 10px;
}

.Canvasborder:hover {
    box-shadow: inset -50px -50px 1px #34495e;
    color: #00ffff;
    transition: box-shadow 0.1s ease-out;
    cursor: pointer;
}

.download {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px;
    margin-left: 70px;
    border: 1px solid white;
    box-shadow: 2px 2px 8px #4371a0;
    background: #002fff;
    cursor: pointer;
}

.workingAreaShadow {
    box-shadow: 1px 1px 20px #abb2b9, -1px -1px 20px #abb2b9;
    position: absolute;
    border: 1px solid black;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    border: none;
}

#working-canvas {
    position: relative;
    border: 1px solid black;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
.resizable-image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    cursor: move;
}

/* Add some basic styling for the popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.popup button {
    color: red;
    transform: translate(730%, -40%);
    font-size: 2rem;
    border: none;
    outline: none;
}

.size-icon-div {
    color: rgb(52, 52, 52);
    font-size: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.size-icon-div .onexone {
    text-align: center;
    color: #191919;
    font-size: 3rem;
    border: 1px dotted black;
    box-shadow: 2px 2px 2px black;
}

.size-icon-div .onexone:hover {
    box-shadow: 5px 5px 5px black;
    font-size: 3.2rem;
    background: #c6f8c0;
    transition: 0.3s ease;
}

.size-icon-div .onextwo {
    text-align: center;

    color: #191919;
    font-size: 3rem;
    border: 1px dotted black;
    box-shadow: 2px 2px 2px black;
}

.size-icon-div .onexone:hover {
    box-shadow: 5px 5px 5px black;
    font-size: 3.2rem;
    background: #1aff00;
    transition: 0.2s ease;
}

.size-icon-div .onextwo:hover {
    box-shadow: 5px 5px 5px black;
    font-size: 3.2rem;
    background: #f0f8c0;
    transition: 0.3s ease;
}

.size-icon-div .twoxone {
    text-align: center;

    color: #191919;
    font-size: 3rem;
    border: 1px dotted black;
    box-shadow: 2px 2px 2px black;
}

.size-icon-div .twoxone:hover {
    box-shadow: 5px 5px 5px black;
    font-size: 3.2rem;
    background: #ff1e00;
    transition: 0.2s ease;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

/*======FOR TEXT BOX OUTLINE REMOVE*/
.text-Toggle {
    border: none;
    outline: none;
}

.font-size-container {
    position: relative;
    display: inline-block;
}

.font-size-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.font-size-container:focus-within .font-size-options {
    display: block;
}

.font-size-options select {
    width: 100px;
    /* Adjust the width as needed */
}

.font-family-container {
    position: relative;
    display: inline-block;
}

.font-family-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.font-family-container:focus-within .font-family-options {
    display: block;
}

.font-family-options select {
    width: 100px;
    /* Adjust the width as needed */
}

.template-cards .card {
    padding: 10px;
    background: transparent;
    border-bottom: 1px double rgb(255, 0, 0);
    border-right: 1px double rgb(255, 0, 0);
    box-shadow: 2px 2px 5px red, inset 2px 2px 2px white;
    margin-top: 60px;
    backdrop-filter: blur(25px);
    cursor: pointer;
}

.color-range-box {
    display: none;
    position: absolute;
    top: 380px;
    left: 100px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-bg-box {
    display: none;
    position: absolute;
    top: 480px;
    left: 100px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileRegularShape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 3rem;
    color: Blue;
}

.profileRegularShape i:hover {
    border-radius: 50%;
    background-color: red;
    color: white;
    scale: 1.1;
    transition: 0.2s ease-in-out;
    padding: 15px;
    cursor: pointer;
}

.circleSelection {
    border-radius: 50%;
    background-color: green;
    color: white;
    scale: 1.1;
    transition: 0.2s ease-in-out;
    padding: 15px;
    cursor: pointer;
}

.squareSelection {
    border-radius: 50%;
    background-color: skyblue;
    color: black;
    scale: 1.1;
    transition: 0.2s ease-in-out;
    padding: 15px;
    cursor: pointer;
}

/* SIDE OFF CANVAS FOR BORDER CSS */
.offcanvasBorder {
    height: calc(100% - 90px);
    margin-top: 90px;
    backdrop-filter: none !important;
}
.added-textbox {
    border: 1px dotted #ccc;
    display: inline-block;
}

/* ================================IMAGE EDITING TOOLS STYLING================================= */

/* ============================================================================================ */

/* ================================================================================================================= */
/* ================================================================================================================= */
